@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-outline {
    -webkit-text-stroke: 1px #00ff99;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}
:root {
  --font-inter: "Inter", sans-serif;
}
body {
  font-family: var(--font-inter);
}

@layer components {
  .RepeatedBg {
    background: repeating-linear-gradient(
      45deg,
      #a8a8a8,
      #a8a8a8 10px,
      #ffffff 10px,
      #ffffff 20px
    );
  }
  .scrollBarHide::-webkit-scrollbar {
    display: none;
  }
}
